// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #f8f8f2;
$bg-color: #282a36;
window.Bar {
    background: $bg-color;
    color: $fg-color;
    font-weight: bold;

    >centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
